
config.json
t10archives/
databases/
protodefs/
serverlogs/
venv/
img/rolls/*
startup/login.py
commands/cogs/seiyuu.py
commands/cogs/admin.py
commands/cogs/Servers.py
startup/google.py
icons/images/*
commands/cogs/Music.py
temp-plot.html
debug.log
*.json
*.DS_STORE
*.pyc
*.sqlite
.vs/lisa-bot/v16/.suo
.vscode/launch.json
.idea/
.gitattributes
