config.json
t10archives/
databases/
protodefs/
serverlogs/
venv/
data/img/rolls/*
data/img/icons/*
data/img/imgTmp/*
data/img/graphs/*
startup/login.py
commands/cogs/seiyuu.py
commands/cogs/admin.py
commands/cogs/Servers.py
commands/cogs/Music.py
startup/google.py
temp-plot.html
debug.log
*.json
*.DS_STORE
*.pyc
*.sqlite
.vs/lisa-bot/v16/.suo
.vscode/launch.json
.idea/
.gitattributes
lisa-bot.pyproj
lisa-bot.pyperf
database_test.db
lisa-bot.sln
out.log
out.profile
temp.dat
temp2.dat
commands/database_handler.py
commands/cogs/CommandErrorHandler.py
disc/disc.py
disc/disc.pyproj
*.db
data/img/pfps/*
data/img/chibis/*
data/img/titles/*
