beautifulsoup4
bs4
discord.py
google
googletrans
jsondiff
Pillow
pip-chill
protobuf
pyaes
pylint
pytz
selenium
tabulate
tinydb
webcolors
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
psutil
sklearn
pixivpy3