pyaes==1.6.1
tinydb==3.13.0
requests==2.21.0
tabulate==0.8.3
selenium==3.141.0
discord.py==1.2.2
aiohttp==3.5.4
jsondiff==1.2.0
pytz==2019.1
beautifulsoup4==4.8.1
cryptography==2.7
discord==1.0.1
protobuf==3.10.0
